__pycache__
checkpoints
dataset/*
GATE/*
data_generation/easy
data_generation/diff
tmp
gate_mmlu_1/*
gate_mmlu_2/*
results*/*
gate_encoder/*
gate_gsm8k/*
gate_mmlu_main
gate_mmlu_topk
gate_model
gate_kua
gate_gsm8k
gate_encoder
GATE
experiment_results